
body {
  margin: 0;
  font-family: Monserrat, Raleway,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: ivory; */
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url(./assets/background.png.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: ivory;
}

body::-webkit-scrollbar{
  display: none;
}

.header {
  color: ivory;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color: #010101;
  position: sticky;
  top: 0;
  left: 0;
}

.header a:hover{
  background-color: ivory;
  color: #010101 !important;
}

.header h1 {
  margin-right: auto;
}

.home {
  text-align: center;
  line-height: 2;
  /* border: 1px solid ivory; */
}

.home-txt {
  /* border: 1px solid ivory; */
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
}

.h1 {
  /* border: 1px solid ivory; */
  width: 50%;
  font-size: 24px;
}

.home-p {
  /* border: 1px solid ivory; */
  width: 50%;

}

.about {
  /* border: 1px solid ivory; */
  height: 100vh;
  background-color: ivory;
  color: #010101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-txt {
  /* border: 1px solid ivory; */
  width: 50%;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
}

.about-txt h1 {
  background-color: #010101;
  color: ivory;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: .5rem;
  width: 70%;
}

.about-img {
  /* border: 1px solid #010101; */
  width: 50%;
  height: 100%;
  background-image: url(./assets/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#focus-area {
    /* border: 1px solid #010101; */
    height: 100vh;
    padding: 1rem 2rem;
    background-color: ivory;
    color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 2rem;
}

.work-item {
  /* border: 1px solid black; */
  padding: 4px;
  height: 50%;
  text-align: center;
  line-height: 1.5;
  border-radius: 1rem;
  box-shadow: 5px 1px 15px 1px #010101;
}

.footer {
  /* border: 1px solid blue; */
  padding: 1rem 3rem;
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-links a,
.footer-contact a {
  text-decoration: none;
  color: ivory;
  padding: 0.5rem;
  border-radius: 5px;
  transition: .65s ease-in-out;
}

.footer-links a:hover, .footer-contact a:hover{
  background-color: ivory;
  color: black;
}

.footer-contact h2, .footer-contact p {
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}

.social-links a {
  text-decoration: none;
  color: ivory;
  font-size: 16px;
  border: 1px solid ivory;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  transition: .5s ease-in-out;
}

.social-links a:hover {
  background-color: ivory;
  color: #010101;
}